// InfoCenter Portal
// Variables
// --------------------------------------------------

$bootstrap-sass-asset-helper: false !default;

//== Colors
$grey-dark:               #727272 !default;
$grey:                     #9e9e9e !default;
$grey-light:              #b6b6b6 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

//$icon-font-path: "../../fonts/bootstrap/" !default;

$font-size-base:          14px !default;
$font-size-lg:            18px !default; // 24px
$font-size-md:            16px !default; // 20px
$font-size-sm:            12px !default;

$font-weight-base:        400 !default;
$letter-spacing-base:     0 !default;
$line-height-base:        1.5 !default;
$text-color:               #212121 !default;

$font-size-h1:            28px !default; // 48px
$font-size-h2:            24px !default;    // 36px
$font-size-h3:            18px !default; // 24px
$font-size-h4:            16px !default;    // 18px
$font-size-h5:            14px !default; // 14px
$font-size-h6:            12px !default; // 12px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    400 !default;
$headings-line-height:    1.1 !default;
$headings-color:           #212121 !default;

// Padding
$padding-base:     10px; // 10px
$padding-sm:        5px; // 15px
$padding-md:        15px; // 15px
$padding-lg:        30px; // 15px

// Basics of a navbar
$zindex-navbar:               1000 !default;
$zindex-navbar-fixed:        1030 !default;
$navbar-height-base:         48px !default;
$navbar-height-large:        76px !default;
$navbar-line-height:         23px !default; // ~21px
$navbar-padding:              15px !default;

// Form
$form-control-height:       40px !default;

// Border highlight
$border-highlight-width-base:       5px !default;

// Dropdown menu
$dropdown-padding-x:        5px !default;
$dropdown-padding-y:        15px !default;

// Line Height
$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

// Radius
$border-radius-base:        3px !default;
$border-radius-large:       3px !default;
$border-radius-small:       3px !default;

// Break points
$breakpoint-lg:             1177px;
$breakpoint-md:             768px;
